.container
  .text-center
    - @questions.each_with_index do |question, index|
      .questions.d-none{data: {index: index}}
        = question.prompt
        %hr
        - question.answers.each do |answer|
          .answers{data: {answer_id: answer.id}}
            = answer.assertion
            %br

= javascript_pack_tag :game