.container
  .text-center
    .d-flex.justify-content-center.mb-2
      %h1= "Score : "
      &nbsp;&nbsp;
      %h1#score.green-font 0
  - @questions.each_with_index do |question, index|
    .question-card.mb-5{data: {index: index}}
      .row
        .col-12.prompt
          .text-center= question.prompt
      %hr
      .row.g-2
        - question.answers.each do |answer|
          .col-md-6.answers.btn.btn-primary{data: {answer_id: answer.id, user_challenge_id: @user_challenge.id, challenge_id: @user_challenge.challenge_id}}
            .white-font
              = answer.assertion
          %br

= javascript_pack_tag :game
