<div class="container text-center">
  <h1 class='text-center'>Pouet</h1>
  <div class="container d-flex justify-content-between">
    <h2>ziglouglouc</h2>
    <h2>ziglouglouc</h2>
    <h2>ziglouglouc</h2>
    <h2>ziglouglouc</h2>
  </div>
  <%= image_pack_tag('WTF.png', class:"img-fluid") %>
  <button type="button" class="btn btn-primary mt-2">Pouet</button>
</div>

<%= javascript_pack_tag('button')%>