.container
  .text-center
    %h1 LUNCHER QUIZZ
    %h4 Pour ceux qui veulent trouver un restau à se faire le midi entre collègues
    %h4 Pour ceux qui aiment la culture G
    %h4 Pour ceux qui aiment Burger Quizz
    %h4 Pour ceux qui ont 10 minutes à tuer
    %h4 Pour ceux qui ne veulent pas de Jeep Renegade

    %p.green-font Le pitch c'est genre une app qui permet de parier un restau pour le midi et de le jouer contre d'autres joueurs qu'on peut inviter, qui, eux aussi peuvent parier un restau, en répondant a des questions plus ou moins intelligentes !
    %p.light-blue-font Le gagnant gagne le droit d'imposer sont restau, mais après on est dans un pays démocratique chacun fait ce qu'il veut...
    %h1 BREF !
    %a.btn.btn-primary.mt-2{type: "button", href: new_challenge_path } Commencer
