.container.text-center
  %h1.text-center Marre de pas être d'accord sur où manger entre collègues le midi ?
  %h2 Jouez le au LUNCHER-QUIZZ
  = image_pack_tag('WTF.png', class:"img-fluid")
  %a.btn.btn-primary.mt-2{:type => "button"} Commencer
= javascript_pack_tag('button')
