.container
  .text-center
    %h1 LUNCHER QUIZZ
    %p="Vous et vos collègues en train de décider"
    %p=" où vous allez mangé ce midi :"

  %h1 Jouez le au LUNCHER-QUIZZ
  %a.btn.btn-primary.mt-2{type: "button", href: new_challenge_path } Commencer
